<div class="slidein" style="margin-top: 6rem; width: 100%;">
    <div class="float-child" style="width: 33%;  background: #eff6f9; height: 505px;">
        <div class="inbox-message" style="text-align:center" >
            <ul>
                <li style="border-bottom: 0px; border-right: 1px solid #e8eef1">
                    <a>
                        <div class="message-body" style="margin-left: 0px; ">
                            <div class="message-body-heading">
                                <h1 style="margin-top: 10px;">Our Address</h1>
                                <!-- <h4 style="margin-top: 50px;"></h4> -->
                            </div>
                            <h6><b>Chaithanya Kala Bharathi,</b></h6>
                            <h6 >D.No.29/178-22H </h6>
                            <h6 >S.B.I. Colony, Opp. RamalayamTemple,Nandyal,</h6>
                            <h6 >Pin - 518 501 Kurnool District, Andhra Pradesh</h6>
                            <a href="tel:9440464877 "><h6><b>Phone:</b>+91 9440464877 </h6></a>
                            <a href="mailto:ckb_ndl@yahoo.com "><h6><b>Email:</b>ckb_ndl@yahoo.com </h6></a>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15354.304288235277!2d78.0003987283395!3d15.826291824501324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb5e0ac2a3d0c01%3A0x6a8e64115cc7e373!2sNehru%20Auto%20Nagar%2C%20Kurnool%2C%20Andhra%20Pradesh!5e0!3m2!1sen!2sin!4v1651632321223!5m2!1sen!2sin" width="100%" height="270" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
       
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    

    <div class="float-child" style="width: 33%; height: 505px;">
        <div class="inbox-message" style="text-align:center" >
            <ul>
                <li>
                    <a>
                        <div class="message-body" style="margin-left: 5px;">
                            <div class="message-body-heading">
                                <h2 style="margin-top: 10px;">FOR INDIAN DONATIONS:</h2>
                            </div>
                            <div class="message-body-heading">
                                <h5> State Bank of India Account:</h5>
                                <div><span style="float:none; ">Your contributions can be sent to:</span></div>
                                <table class="table table-success table-striped">
                                    <tbody>
                                      <tr>
                                        <th scope="row">ACCOUNT NAME</th>
                                        <td>CHAITHANYA KALA BHARATHI</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">BANK NAME</th>
                                        <td>State Bank of India</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">ACCOUNT NUMBER</th>
                                        <td >30861193442</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">BRANCH NAME</th>
                                        <td >Main Branch, Nandyal Kurnool District</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">IFSC CODE</th>
                                        <td >SBIN000883</td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                            <div class="message-body-heading">
                                <h5>Syndicate Bank:</h5>
                                <div><span style="float:none; ">Your contributions can be sent to:</span></div>
                                <table class="table table-success table-striped">
                                    <tbody>
                                      <tr>
                                        <th scope="row">ACCOUNT NAME</th>
                                        <td>CHAITHANYA KALA BHARATHI</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">BANK NAME</th>
                                        <td>Syndicate Bank</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">ACCOUNT NUMBER</th>
                                        <td colspan="2">3374-22000-75141</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">BRANCH NAME</th>
                                        <td colspan="2">Main Branch, Nandyal Kurnool District</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">IFSC CODE</th>
                                        <td colspan="2">SYNB0003374</td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                           
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="float-child" style="width: 33%; height: 505px;">
        <div class="inbox-message" style="text-align:center" >
            <ul>
                <li>
                    <a>
                        <div class="message-body" style="margin-left: 5px;">
                            <div class="message-body-heading">
                                <h2 style="margin-top: 10px;">FOR FOREIGN DONATIONS:</h2>
                            </div>
                            <div class="message-body-heading">
                                <h5>State Bank of India:</h5>
                                <div><span style="float:none; ">Your contributions can be sent to:</span></div>
                                <table class="table table-success table-striped">
                                    <tbody>
                                      <tr>
                                        <th scope="row">ACCOUNT NAME</th>
                                        <td>CHAITHANYA KALA BHARATHI</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">BANK NAME</th>
                                        <td>State Bank of India</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">ACCOUNT NUMBER</th>
                                        <td colspan="2">40117327176</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">BRANCH NAME</th>
                                        <td colspan="2">11Sansad Marg, New Delhi 110 001</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">IFSC CODE</th>
                                        <td colspan="2">SBIN0000691</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">SWIFT CODE</th>
                                        <td colspan="2">SBININBB104</td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </div>
